<h1>Here are your lovely outfits!</h1>




<%@outfits.each do |outfit|%>
<p><a href="/outfits/<%=outfit.id%>"><%=outfit.date%></a> - 
<%outfit.items.each do |item|%>
<img src=<%=item.image%> width=80>
<%=item.name+ "          "%>
<%end%>
<hr/>

<%end%>



