<h1>Your outfit from <%=Helpers.reformat_date(@outfit.date)%> </h1>

<%@outfit.items.each do |item|%>
<img src="<%=item.image%>" width=80><%=item.name%>
<br>
<%end%>

<br>

<form action ="/outfits/<%=@outfit.id%>/edit" method = "post">
<input type="submit" value="Edit Outfit">
</form>