<h2><%=@user.username%>'s Clobber</h2>

<div class="cards">
<%@items.each do |item|%>
<div class="card">
<a href="/items/<%=item.id%>"><img src="<%=item.image%>" style="width:100%"></a>
<div class="container"> 
    
        <%=item.name%>
        </div>
</div>
<%end%>
</div>


<br>

<form action="/items/new" method="get">
<input type="submit" value="Add a new item">
</form>

<form action="/outfits/new" method="get">
<input type="submit" value="Log an outfit">
</form>

<form action="/outfits" method="get">
<input type="submit" value="Outfits History">
</form>

<form action="/logout" method="post">
<input type="submit" value="Log Out">
</form>