<h1>Add a new item of clobber!</h1>

<form action="/items" method="post">
<p>Item Description (ie Everlane black t-shirt): <input type="text" name="name"></p>
<p>Item Cost (£): <input type="integer" name="cost"></p>
<p>Link to image: <input type="text" name="image"></p>
<input type="submit" value="Add Item" >
</form>

<form action="/items" method="get">
<input type="submit" value="Back to your clobber">
</form>